<% if @vhub.nil? %>
  <div class="well">
	  <h1>the [ <%= @virtual_hub.name %> ] virtual hub does not exist yet.<h1>
		<h2>want to create it?</h2>
	</div>
	<%= render 'form' %>
<% else %>
<div class="span8">
  <div id="header">
	  <div id="new_post_box" mood="<%= @hub_post.mood %>">
	    <%= render partial: 'posts/form', locals: {post: @hub_post} %>
    </div>
  </div>

  <div id="content">
    <% @vhub.posts.each_with_index do |post,count| %>
        <%= render partial: 'hub_posts/post', locals:{post: post, count: count} %>
    <% end %>

  </div>


</div>

    <div class="span3">
        <div id="hub-info" class="transparent-wrapper">
          <div class="hub-logo">
            <img src="http://2.bp.blogspot.com/_UgJT7XB2G0Y/S-CLPc6ekDI/AAAAAAAANd4/slIv7ZJjBWc/s1600/family+guy1+1024x768.jpg" />
          </div>

          <div id="hub-detail">
            Brian is a hub that Get people to comment on Brian. Whether or not you like Brian or you hate him,
            you can comment on him. There will be no consequences and hard feelings
          </div>
        </div>
    </div>
<% end %>