
<div id="main" class="row">
	<div id="sidebar">
		<input id="location_search" type="text" placeholder="Search for hub...">
		<div class="row-fluid">
		  <a class="span6"><%= image_tag 'tiles/locator.png', id:"current-location" %></a>
		  <a class="span6"><%= image_tag 'tiles/globe.png', id:"all-locations" %></a>
		</div>
		<img id="map" src="#" class="img-polaroid"/>
		<div id="geostatus">Posting at: <%= @location %></div>	
	</div>
	<div class="span3"></div>
	<div class="span8">
		<div id="header">
			<div id="new_post_box" mood="neutral">
		    <%= render 'posts/form' %>
		  </div>
	  </div>
	  <div id="content">
		  <div id="filter">
		    <input type="text" placeholder="Filter posts">
	    </div>
		  <div id="posts">
		    <%= render 'posts/list' %>
		  </div>
	  </div>
	</div>
</div>
