<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script>

function initialize_locations_autocomplete() {
  var input = (document.getElementById('location_search'));
  var autocomplete = new google.maps.places.Autocomplete(input);
  google.maps.event.addListener(autocomplete, 'place_changed', function() {

    var place = autocomplete.getPlace();
    if (!place.geometry) {
      // Inform the user that the place was not found and return.
      geostatus.innerHTML = 'hub not found';
      return;
    }

    geostatus.innerHTML = 'Getting posts for ' + place.name + '...';
    var location = {
      "coords": {
          "latitude": place.geometry.location.lat(),
          "longitude": place.geometry.location.lng()
      }
    };
    getPosts(location);
	  
		$(input).blur();    
		setTimeout(function(){
		 $(input).val('');
		},100);
  });
}
google.maps.event.addDomListener(window, 'load', initialize_locations_autocomplete);
</script>


<div id="main" class="row">
	<div class="span3"></div>
	<div id="sidebar" class="span3" data-spy="affix">
		<input id="location_search" type="text" placeholder="Search for hub...">
		<div class="row-fluid">
		  <a class="span6"><%= image_tag 'tiles/locator.png', id:"current-location" %></a>
		  <a class="span6"><%= image_tag 'tiles/globe.png', id:"all-locations" %></a>
		</div>
		<img id="map" src="#" class="img-polaroid"/>
		<div id="geostatus">Posting at: <%= @location %></div>	
	</div>
	<div class="span8">
		<div id="header">
			<div id="new_post_box" class="post-neutral">
		    <%= render 'posts/form' %>
		  </div>
	  </div>
	  <div id="content">
		  <div id="filter">
		    <input type="text" placeholder="Filter posts">
	    </div>
		  <div id="posts">
		    <%= render 'posts/list' %>
		  </div>
	  </div>
	</div>
</div>

<script>
// Javascript to fetch user's location and fill with relevant posts
$(function(){
  var post_longitude=document.getElementById("post_longitude");
  var post_latitude=document.getElementById("post_latitude");
	var geostatus=document.getElementById("geostatus");

  post_latitude.value="<%=j @coords[0] %>";
  post_longitude.value="<%=j @coords[1] %>";

  setMap(post_latitude.value,post_longitude.value);

  $("#current-location").click(function(){
    getLocation(getPosts);
  });

  $("#all-locations").click(function(){
    var world = {
      "coords": {
          "latitude": "nil",
          "longitude": "nil"
      }
    }
    geostatus.innerHTML="Getting posts from world.";
    getPosts(world);
  });

	function replace_class(affected_id,class_name) {
	  $("#"+affected_id).removeClass();
	  $("#"+affected_id).addClass(class_name);		
  }

	$("#post_mood").change(function() {
    var mood = $("#post_mood option:selected").text().toLowerCase();
    var id = 'new_post_box';
    replace_class(id,'post-'+mood);
	});
});

function getPosts(position) {
  var lat=position.coords.latitude;
	var lon=position.coords.longitude;
	var the_data = 'lat=' + encodeURIComponent(lat)
               +'&lon=' + encodeURIComponent(lon);

  setMap(lat,lon);
  post_latitude.value=lat;
  post_longitude.value=lon;

	$.ajax({
	  data: the_data,
	  type: 'get',
	  url: '<%=j currloc_path %>'
	});
}

function setMap(lat,lon) {
	var srcString = "http://maps.googleapis.com/maps/api/staticmap?center=" + lat + "," + lon + "&zoom=12&size=185x185&sensor=false";
	if (lat=="nil") srcString = "<%=j image_path 'tiles/globe.png' %>";
  $("#map").attr("src", srcString);
}
</script>