
<div id="main" class="row">
	<div class="span4">
		<div id="sidebar" class="well well-small" data-spy="affix" data-offset-top="160">
			<input id="location_search" type="text" placeholder="<%= t(:search_placeholder) %>">
			<ul class="nav nav-pills">
			  <li><a id="current-location">Current Location</a></li>
			  <li><a id="all-locations">Around the world</a></li>
			</ul>
		  <div id="map-container"><img id="map"/></div>
			<div id="geostatus"><%= t(:posting_at)+@location %></div>	
		</div>
	</div>
	<div class="span8">
		<div id="posts-header" class="well">
			<div id="new_post_box" mood="<%= @post.mood %>">
			  <%= render partial: 'posts/form', locals: {post: @post} %>
		  </div>
	  </div>
	  <div id="posts" class="well">
		  <div id="filter-bar">
			  <%= form_tag(posts_path, method: :get, id: 'filter-form', remote: true) do %>
			    <%= search_field_tag 'filter', nil, placeholder: t(:filter_placeholder) %>
			    <span id="ranges" style="<%= 'display: none' if  @range.nil? %>">
	          <%= render partial: 'ranges', locals: {range: session[:range]} %>
					</span>
			  <% end %>
	    </div>
	    <div id="post-list">
			  <%= render partial: 'posts/list' %>
			</div>
			<div id="next-page">
				<%= link_to_next_page @posts, 'Load more posts', remote: true, :params => {:controller => 'posts', :action => 'index'} %>
			</div>
	  </div>
	</div>
</div>

<div id="mapfull" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    Pinpoint a location to <b>belloh</b> by dragging the marker around
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div id="map-canvas"></div>
  </div>
  <div class="modal-footer">
    <button id="pinpoint" type="button" class="btn btn-success" data-dismiss="modal" aria-hidden="true">
	    Get posts around here
	  </button>
	</div>
</div>

<script>
$(function(){
  initialize_welcome_page();
});
google.maps.event.addDomListener(window, 'load', initialize_locations_autocomplete);
</script>

