<div id="main" class="row">
	<div id="sidebar">
		<input id="location_search" type="text" placeholder="<%= t(:search_placeholder) %>">
		<div class="row-fluid">
		  <a class="span6"><%= image_tag 'tiles/locator.png', id:"current-location" %></a>
		  <a class="span6"><%= image_tag 'tiles/globe.png', id:"all-locations" %></a>
		</div>
    <div class="map-div"><img id="map" src="#"/></div>
		<div id="geostatus"><%= t(:posting_at)+@location %></div>	
	</div>
	<div class="span3"></div>
	<div class="span8">
		<div id="header">
			<div id="new_post_box" mood="<%= @post.mood %>">
			  <%= render partial: 'posts/form', locals: {post: @post} %>
		  </div>
	  </div>
	  <div id="content">
		  <div id="filter">
		    <input type="text" placeholder="<%= t(:filter_placeholder) %>">
        <div id="slider"></div>
	    </div>
		  <div id="posts" class="container-fluid">
				<%= render partial: 'posts/list' %>
		  </div>
	  </div>
	</div>
</div>

<div id="mapfull" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    Pinpoint a location to <b>belloh</b>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div id="map-canvas"></div>
  </div>
</div>

<script>
// Javascript to fetch user's location and fill with relevant posts
$(function(){
	var post_longitude=document.getElementById("post_longitude");
  var post_latitude=document.getElementById("post_latitude");
	var geostatus=document.getElementById("geostatus");

  create_fullscreen_link();
  setMap(post_latitude.value,post_longitude.value);

	$('#posts').tooltip({
	    selector: '[rel=tooltip]'
	});
	
  $("#current-location").click(function(){
    getLocation(getPostsForLocation);
    map = null;
  });

  $("#current-location").bind("mouseover", function(){
    $(this).css("opacity", "1");
  }).bind("mouseout", function(){
    $(this).css("opacity", "0.9");
  });

  $("#all-locations").click(function(){
    var world = {
      "coords": {
        "latitude": "nil",
        "longitude": "nil"
      }
    }
    geostatus.innerHTML="Getting posts from world.";
    getPostsForLocation(world);
  });

  $("#all-locations").bind("mouseover", function(){
    $(this).css("opacity", "1");
  }).bind("mouseout", function(){
    $(this).css("opacity", "0.9");
  });

	$( "#slider" ).slider();
	
	$('#mapfull').on('shown',function () {
    if (map == null) {
      initialize_interactive_map(post_latitude.value,post_longitude.value);
    } else {
	    var latlng = new google.maps.LatLng(post_latitude.value,post_longitude.value);
		  map.setCenter(latlng);
		  marker.setPosition(latlng);
    }
  });
});

google.maps.event.addDomListener(window, 'load', initialize_locations_autocomplete);
</script>

<script>
    var map = null;
    var marker = null;

    function initialize_interactive_map(lat,lng) {
	    var latlng = new google.maps.LatLng(lat,lng);
  
      var mapOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        size: new google.maps.Size(400, 400, 'px', 'px')
      };

      map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);

      marker = new google.maps.Marker({
          position: latlng,
          map: map
      });
    }

    //google.maps.event.addDomListener(canvas, 'shown', initialize);

    function create_fullscreen_link() {
		  var fullscreenlink = document.createElement("a");

		  fullscreenlink.id="fullscreen_link";
		  fullscreenlink.href="#mapfull";

		  $(fullscreenlink).attr("role", "button");

		  $(fullscreenlink).attr("data-toggle", "modal");

		  var fullscreen = document.createElement("img");

		  fullscreen.src = "http://png-1.findicons.com/files/icons/1150/tango/22/view_fullscreen.png";

		  $(fullscreen).css({
		      "position": "absolute",
		      "right": "15px",
		      "margin-top": "5px",
		      "cursor": 'pointer',
		      "opacity": "0.7"
		  });

		  $(fullscreenlink).append(fullscreen);

		  $(".map-div").append(fullscreenlink);

		  $(fullscreen).bind("mouseover", function(){
		    $(this).css("opacity", "1");
		  }).bind("mouseout", function(){
		    $(this).css("opacity", "0.7");
		  });
    }
</script>
