<div class="span12">
  <div id="header">
    <div id="about">
        <h4>Check out a sceneary of a place before you go</h4>

        <p>
          <%= image_tag("bellohs/club.png") %>

        </p>

      <h4>Post an anonymous compliment to your friend who has a private hub</h4>

      <p>
        <%= image_tag("bellohs/crush.png") %>

      </p>

      <h4>You may reject someone in a nice one. No face to face confrontation needed</h4>

      <p>
        <%= image_tag("bellohs/boyfriend.png") %>

      </p>


      <h4>You may send a warning message to those around you</h4>

      <p>
        <%= image_tag("bellohs/customer.png") %>

      </p>

      <h4>You may wish to sell stuff like concert or sporting event tickets</h4>

      <p>
        <%= image_tag("bellohs/tickets.png") %>

      </p>

      <h4>You don't have to dress and come out of your room to say things</h4>

      <p>
        <%= image_tag("bellohs/roomate.png") %>

      </p>

      <h4>You may send a customer complaint</h4>

      <p>
        <%= image_tag("bellohs/boyfriend.png") %>

      </p>

      <h4>You may send a customer complaint</h4>

      <p>
        <%= image_tag("bellohs/boyfriend.png") %>

      </p>


    </div>
  </div>
</div>