<script>
  $(function(){
    $('#suser').click(function(){
      $('#sender-anonym').hide();
      $('#sender-suser').show();
      $('#suser').hide();
      $('#anonym').show();
    });

    $('#anonym').click(function(){
      $('#sender-anonym').show();
      $('#sender-suser').hide();
      $('#suser').show();
      $('#anonym').hide();
    });
  });
</script>

<%= form_for(post, remote: true) do |f| %>
  <%= render partial: 'posts/errors', locals: {post: post} %>

	<div id="new_post_header">
    <span id="sender-anonym">[ <%= f.text_field :sender_desc, placeholder: t(:sender_placeholder) %> ]</span>
    <% if user_signed_in? %>
    <span id="sender-suser"><%= link_to current_user.username, nil %></span>
    <style>
      #sender-anonym {
        display: none;
      }
    </style>
    <% end %>
    @
    [ <%= f.text_field :receiver_desc, placeholder: t(:receiver_placeholder) %> ]
  </div>

  <div id="new_post_content" class="input-prepend input-append">
	  <span class="add-on">
	    <ul class="nav">
	      <li class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	          <%= image_tag 'tiles/hippo.png' %>
	          <div class="triangle-bottomright"></div>
	        </a>
	        <ul class="dropdown-menu">
	          <li class="row-fluid">
	            <ul class="unstyled span6">
	              <li mood="neutral" class="mood-option"><%= image_tag 'tiles/hippo.png' %></li>
	              <li mood="positive" class="mood-option"><%= image_tag 'tiles/hippo.png' %></li>
	            </ul>
	            <ul class="unstyled span6">
	              <li mood="caution" class="mood-option"><%= image_tag 'tiles/hippo.png' %></li>
	              <li mood="negative" class="mood-option"><%= image_tag 'tiles/hippo.png' %></li>
	            </ul>
	          </li>
	        </ul>
	      </li>
	    </ul>
	  </span>
    <%= f.text_area :content, placeholder: t(:message_placeholder) %>
	  <label for="commit" class="btn btn-info">
      <span class="smallb">)</span><span class="mediumb">)</span><span class="largeb">)</span>
      <%= f.submit nil, id: 'commit', style: 'display:none;' %>
    </label>
  </div>

	<%= f.hidden_field :mood, id: 'mood' %>

  <% if post.class == Post %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
  <% else %>
    <%= f.hidden_field :virtual_hub_id %>
  <% end %>
<% end %>

<script>
  $(function(){
    initialize_post_form();
  });
</script>
