<%= form_for(@post) do |f| %>
  <%= render 'posts/errors' %>

	<div id="new_post_header" class="row-fluid">
		<div id="new_post_sender_receiver" class="span10">
    [ <%= f.text_field :sender_desc %> ]
    @
    [ <%= f.text_field :receiver_desc %> ]
    </div>
    <div class="span2">
      <%= f.select :mood, Post.moods %>
    </div>
  </div>

	<div>
    Message:<br/>
    <%= f.text_area :content, class: 'input-xxlarge' %>
  </div>

  <div>
    <%= f.submit 'Post Belloh' %>
  </div>

  <div>
    <%= hidden_field_tag "post[longitude]" %>
    <%= hidden_field_tag "post[latitude]" %>
  </div>
<% end %>

