<%= form_for(@post) do |f| %>
  <%= render 'posts/errors' %>

	<div id="new_post_header">
    [ <%= f.text_field :sender_desc, placeholder: 'Sender description' %> ]
    @
    [ <%= f.text_field :receiver_desc, placeholder: 'Receiver description' %> ]
  </div>

	<div>
    <%= f.text_area :content, placeholder: 'Message' %>
  </div>

  <div>
	  <%= f.select :mood, Post.moods %>
    <%= f.submit 'Belloh', class: 'btn btn-info pull-right' %>
  </div>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
<% end %>

