<div class="post-splitter"></div>

<div class="post">
	<div class="row-fluid">
    <div class="span11" mood="<%= post.mood %>">
	    <div class="post-header">
        [ <%= links_to_users(post.sender_desc) %> ]
        @
        [ <%= links_to_users(post.receiver_desc) %> ]
	    </div>
	    <div class="post-message">
	      <%= auto_link links_to_users(post.content) %>
	    </div>
		</div>
		<div class="span1">
			<div class="post-location">
			</div>
	    <div class="post-time">
		    <%= readable_time_ago(post.created_at.localtime) %>
	    </div>
	    <% if session[:lat].blank? && !hub_post? %>
	    <div class="post-location" rel="tooltip" data-title="<%= 'Earth' if post.city.nil? %><%= post.city %>
<%= post.country %>">
		    <%= image_tag 'tiles/globe-small.png' %>
	    </div>
	    <% end %>
		</div>
	</div>
</div>
