
<div class="row-fluid post post-<%= post.mood %> <%= 'post-first' if count==0 %>">
  <div class="post-content">
    <div class="post-header">
      <%= post.sender.nil? ? '' : post.sender.username %>
      [<span class="sender"><%= post.sender_desc %></span>]
      @
      [<span class="receiver"><%= post.receiver_desc %></span>]
    </div>
    <div class="post-message">
      <%= post.content %>
    </div>
  </div>

	<div class="post-time">
	  <%= post.created_at.to_s %>
	</div>
</div>