<div class="post" mood="<%= post.mood %>">
	<div class="row-fluid">
	  <div class="span11">
	    <div class="post-header">
	      <%= post.sender.nil? ? '' : post.sender.username %>
	      [<%= post.sender_desc %>]
	      @
	      [<%= post.receiver_desc %>]
	    </div><br/>
	    <div class="post-message">
	      <%= post.content %>
	    </div>
		</div>
		<div class="span1">
			<div class="post-location">
			</div>
	    <div class="post-time">
		    <%= time_ago_in_words(post.created_at.localtime) %>
	      <%#= l post.created_at.localtime %>
	    </div>
		</div>
	</div>
</div>