
<div class="row-fluid post post-<%= post.mood %> <%= 'post-first' if count==0 %>">
	  <div class="row-fluid">
	    <div class="post-header">
	      <%= post.sender.nil? ? '' : post.sender.username %>
	      [<%= post.sender_desc %>]
	      @
	      [<%= post.receiver_desc %>]
	    </div>
			<div class="post-time">
			  <%= post.created_at.localtime.strftime('%l:%M:%S%P - %b %-d, %y') %>
			</div>
		</div>
    <div class="post-message">
      <%= post.content %>
    </div>
</div>