<div class="post-splitter"></div>

<div class="post">
	<div class="row-fluid">
    <div class="span11" mood="<%= post.mood %>">
	    <div class="post-header">
        <% unless post.sender.nil? %>
        <%= link_to(post.sender.username, post.sender) %>
          <% unless post.sender_desc.empty? %>
            [<%= post.sender_desc %>]
          <% end %>
        <% else %>
          <% if post.sender_desc.empty? %>
            [anonymous]
          <% else %>
            [<%= post.sender_desc %>]
          <% end %>
        <% end %>
        @
        <% if post.receiver_desc.empty? %>
        [anyone]
        <% else %>
        [<%= post.receiver_desc %>]
        <% end %>
	    </div>
	    <div class="post-message">
	      <%= post.content.html_safe %>
	    </div>
		</div>
		<div class="span1">
			<div class="post-location">
			</div>
	    <div class="post-time">
		    <%= readable_time_ago(post.created_at.localtime) %>
	    </div>
	    <% if session[:lat].nil? && !hub_post? %>
	    <div class="post-location" rel="tooltip" data-title="<%= 'Earth' if post.city.nil? %><%= post.city %>
<%= post.country %>">
		    <%= image_tag 'tiles/globe-small.png' %>
	    </div>
	    <% end %>
		</div>
	</div>
</div>
