<div class="row-fluid post <%= 'post-first' if count==0 %>" mood="<%= post.mood %>">
  <div class="span9">
    <div class="post-header row-fluid">
      <%= post.sender.nil? ? '' : post.sender.username %>
      [<%= post.sender_desc=='' ? 'anonymous' : post.sender_desc %>]
      @
      [<%= post.receiver_desc=='' ? 'anyone' : post.receiver_desc %>]
    </div>
    <div class="post-message row-fluid">
      <%= post.content %>
    </div>
	</div>
	<div class="span3">
		<div class="post-time row-fluid">
		  <%= l post.created_at.localtime %>
		</div>
		<div class="row-fluid post-location">
			<%= image_tag 'tiles/globe.png', data: {title: post.location}, rel: 'tooltip' %>
		</div>
	</div>
</div>