<div id="posts-header" class="well">
	<div id="new_post_box" mood="<%= post.mood %>">
	  <%= render partial: 'posts/form', locals: {post: post} %>
  </div>
</div>
<div id="posts" class="well">
  <div id="filter-bar">
	  <%= form_tag(path, method: :get, id: 'filter-form', remote: true) do %>
	    <%= search_field_tag 'filter', nil, placeholder: t(:filter_placeholder) %>
	    <span id="ranges" style="<%= 'display: none' if  @range.nil? %>">
        <%= render partial: 'welcome/ranges', locals: {range: session[:range]} %>
			</span>
	  <% end %>
  </div>
  <div id="post-list">
	  <%= render partial: 'posts/list', locals: {posts: posts} %>
	</div>
	<div id="next-page">
		<%= link_to_next_page posts, 'Load more posts', remote: true, :params => {:path => path} %>
	</div>
</div>

<script>
$(function(){
	$('#filter').on('input',function(){
		$('#filter-form').submit();
	});
});
</script>