<!DOCTYPE html>
<html>
<head>
  <title>Belloh</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div id="nav-center">
	    <ul class="nav nav-left">
		    <li><a class="brand" href="<%= root_path %>">Belloh</a></li>
      </ul>
      <ul class="nav pull-right">
	      <li><img src="http://png-4.findicons.com/files/icons/5/animals/32/hippopotamus.png" /></li>
	    </ul>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>

</html>
