<!DOCTYPE html>
<html>
<head>
  <title>Belloh</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navigation">

  <div class="navigation-center">
    <img src="http://png-5.findicons.com/files/icons/2118/nuvola/48/bell.png" />
    Bell oh

    <form class="navbar-search pull-right">
      <input type="text" class="search-query" placeholder="Search for Landmarks">

    </form>
  </div>

</div>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

  <%= yield %>


</body>

</html>
