<!DOCTYPE html>
<html>
<head>
  <title>Belloh</title>
  <%= stylesheet_link_tag    "application" %>

  <meta content="belloh, locationable, locationable message, location-based, messaging, twitter challenger, instant message, pitch, local business, deal, sale, discount, coupon, promotion, daily deal, save, garage sale, yard sale, social deals, local, texting, special, on-map text, text messaging, chat, rant, praise, just saying, free speech, candid feedback, anonymous text messages" name="keywords">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<meta name="viewport" content="initial-scale=1.0, user-scalable=no">-->
  <meta charset="utf-8">

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,visualization"></script>

	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

<div class="container" id="content">
  <%= yield %>
</div>

<div class="footer">
  <div class="footer-left">
    <span><%= link_to t(:about), about_path%></span>
    <span><%= link_to t(:help), help_path%></span>
    <span><%= link_to t(:terms), terms_path%></span>
    <span><%= link_to t(:privacy), privacy_path%></span>
    <span><%= link_to t(:hubs), hubs_path %></span>
    <span><%= link_to t(:usage), usage_path%></span>
    <span><%= link_to t(:blog), "http://belloh.blogspot.com" %></span>
    <span><%= link_to "Twitter", "https://twitter.com/@bellohworld" %></span>
  </div>

  <div class="footer-right">
    <span class="copyright-symbol">&copy;</span> 2013 Belloh.com.
  </div>
</div>

</body>

</html>
