<!DOCTYPE html>
<html>
<head>
  <title>Belloh</title>
  <%= stylesheet_link_tag    "application" %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places,visualization"></script>

	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path %>"><%= t(:logo)+hub_name %></a>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="bellohModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
	  Belloh at the world
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body"></div>
</div>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

<div class="container">
  <%= yield %>
</div>

<div class="footer">
  <div class="footer-left">
    <span><%= link_to t(:about), about_path%></span>
    <span><%= link_to t(:help), about_path%></span>
    <span><%= link_to t(:terms), terms_path%></span>
    <span><%= link_to t(:privacy), privacy_path%></span>
    <span><%= link_to t(:hubs), hubs_path %></span>
    <span><%= link_to t(:usage), usage_path%></span>
    <span><%= link_to t(:blog), "http://belloh.blogspot.com" %></span>
    <span><%= link_to "Twitter", "https://twitter.com/@bellohworld" %></span>
  </div>

  <div class="footer-right">
    <span class="copyright-symbol">&copy;</span> 2013 Belloh.com.
  </div>
</div>

</body>

</html>
